.favContainer {
  max-width: 992px;
  width: 95%;
  margin: 30px auto;
  /* text-align: center; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.h1 {
  margin-top: 20px;
  text-align: center;
  color: white;
}

@media screen and (max-width:768px) {
  .favContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width:576px) {
  .favContainer {
    grid-template-columns: 1fr;
  }
}