.card {
  border: 7px solid black;
  border-radius: 18px;
  padding: 10px;
  background-color: #9fecfc;
}

.h2 {
  font-size: 2.3rem;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 5px;
}

.button {
  background-color: rgba(78, 77, 77, 0);
  cursor: pointer;
  border: none;
}

.buttonLike {
  font-weight: bold;
  cursor: pointer;
  border: none;
  /* color: black; */
  color: white;
}

.buttonLikeEnabled {
  font-weight: bold;
  cursor: pointer;
  border: none;
  /* color: black; */
  color: black;
}

.buttonLike:hover {
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: rgb(241, 238, 238);
}

.buttonClose {
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: black;
}

.buttonClose:hover {
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: rgb(90, 90, 90);
}

.species {
  font-weight: lighter;
  background-color: rgba(255, 255, 255, 0.259);
  border-radius: 5px;
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.gender {
  font-weight: lighter;
  background-color: rgba(255, 255, 255, 0.259);
  border-radius: 5px;
  font-size: 1.8rem;
}

.detailLink {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.detailLink:hover {
  color: rgb(148, 132, 12);
}

.buttons {
  margin: 15px 0 0px 0;
  display: flex;
  justify-content: space-between;
}