body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: darkgray;
  /* font-weight: bold; */
  /* background: #16222A; */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #3A6073, #16222A); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to bottom, #3A6073, #263c4a); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-image: url("https://img.freepik.com/foto-gratis/hermosas-estrellas-brillantes-cielo-nocturno_181624-622.jpg"); */
  background-size: cover;
}